/* CSS for successful login page */


body{
	font-family: sans-serif;
  text-align: center;
	color: blue;
	background: url("../../images/gradient.jpg") no-repeat;
	background-size: cover;
	/*background-position: center;*/
	overflow: hidden;
}

p{
    color: white;
}

.welcome{
	position: absolute;
	top: 50%; /*to center it vertically*/
	left: 50%; /*to center it horizontally*/
	transform: translate(-50%,-50%);
	width: 600px; /* form takes up 50% of the width of the page, dynamic*/
	border-radius: 20px; /*rounds the edges of the form */
	padding: 40px;
	box-sizing: border-box;
	background: black;
}

/* Aligning the buttons in a straight line */
.welcome .lineup {
  display: flex;
 
}

/*All buttons */
.lineup .returnhomearea .button, /*.logoutarea .button,*/ .steamarea .button{
	background:blue;
  min-width: 100px;
  min-height: 50px;
	border-radius:50px;
  margin: 35px; 
	padding:10px 10px;
}

/*
a:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: brown;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
*/


.navigationbar {
	overflow: hidden;
	background-color: black;
  position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
  }
  
  .navigationbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .navigationbar a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .navigationbar a.active {
    background-color: rgb(0, 153, 255);
    color: white;
  }

  
  .navigationbar .logout .logoutarea .button{
    font-size: 17px;
    float: right;
      position: absolute;
      right: 20px;
      bottom: 5px;
      background:red;
      width: 100px;
      min-height: 40px;
      border-radius:10px;
    
    } 