/* CSS for login/registration page */


body{
	font-family: sans-serif;
	color: green;
	background: url("tree.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;} 

.entireform{
	position: absolute;
	top: 50%; /*to center it vertically*/
	left: 50%; /*to center it horizontally*/
	transform: translate(-50%,-50%);
	width: 50%; /* form takes up 50% of the width of the page, dynamic*/
	border-radius: 20px; /*rounds the edges of the form */
	padding: 40px;
	box-sizing: border-box;
	background: black;
}}

/* For the card to flip between login and signup*/
.options{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
}

/*formatting for the "Login" and "Sign-Up" tabs */
.options .anoption{
	font-size:30px;
	margin-right:15px;
	margin-left: 15px;
	padding-bottom:10px;
	margin:10px 10px 10px 150px;
	display:inline-block;
	border-bottom:4px solid transparent; /*tansparent allows it to not show under the tab that is not clicked on*/
}

.options .logincard, .options .signupcard{
	top:15px;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg); /*For the two forms to be separate and flip 180 to switch between them*/
	backface-visibility:hidden;/*HIdes the other form when one is being viewed*/
	transition:.6s;
}

.bothformscard{
	min-height:370px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}

/*placeholder text inside each input field*/
::placeholder{
color: gray;
} 

.gotologin{
	text-align:center;
}

/* To hide the radio button next to login and signup tabs */
.options .loginoption, .options .signupoption, .bothformscard .areaofuserinfo .check{
	display:none;
}

/* Makes all the labels on the login form uppercase and bold*/
.options .anoption, .bothformscard .areaofuserinfo .label, .bothformscard .areaofuserinfo .button{
	text-transform:uppercase;
	font-weight: bold;
}

/*When you choose either Login or Signup tab, the text will turn white and the line underneath will be green */
.options .loginoption:checked + .anoption, .options .signupoption:checked + .anoption{
	color:#fff;
	border-color:green;
}

/*Spacing between the input boxes on the forms*/
.bothformscard .areaofuserinfo{
	margin-bottom:30px;
}

/* Formatting for the labels for each text box, the text that the user types, and the text on the green buttons */
.bothformscard .areaofuserinfo .label, .bothformscard .areaofuserinfo .input, .bothformscard .areaofuserinfo .button{
	width:100%;
	color:#fff;
	display:block;
}

/* Formatting for background of each input text field */
.bothformscard .areaofuserinfo .input{
	border:none;
	padding:20px 20px;
	border-radius:50px;
	background: rgba(255,255,255,.1);
}

/*Labels for each text field */
.bothformscard .areaofuserinfo .label{
	color:white;
	font-size:14px;
}

/*Login and Signup button */
.bothformscard .areaofuserinfo .button{
	background:green;
	border-radius:50px;
	padding:20px 20px;
}

/*Remember Me checkbox  */
.bothformscard .areaofuserinfo label .icon{
	width:20px;
	height:20px;
	border-radius:5px;
	position:relative;
	display:inline-block;
	background:white ;
}

/* All formatting for the check in the Remember Me checkbox */
.bothformscard .areaofuserinfo label .icon:before, .bothformscard .areaofuserinfo label .icon:after{
	content:'';
	width:14px;
	height:2px;
	background:white;
	position:absolute;
	transition:all .2s ease-in-out 0s; /*how long it takes for the check to form in the checkbox*/
}
.bothformscard .areaofuserinfo label .icon:before{
	left:3px;
	width:5px;
	bottom:8px;
}
.bothformscard .areaofuserinfo label .icon:after{
	top:8px;
	right:0;
}
.bothformscard .areaofuserinfo .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.bothformscard .areaofuserinfo .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}

/*After checking the checkbox, the test turns white*/
.bothformscard .areaofuserinfo .check:checked + label{
	color:#fff;
}

/*Color of the checkbox if it is checked*/
.bothformscard .areaofuserinfo .check:checked + label .icon{
	background: green;
}


/* Displays the login form after the flip from signup to login tabs*/
.options .loginoption:checked + .anoption + .signupoption + .anoption + .bothformscard .logincard{
	transform:rotate(0);
}

/* Displays the signup form after the flip from login to signup tabs*/
.options .signupoption:checked + .anoption + .bothformscard .signupcard{
	transform:rotate(0);
}

