/* CSS for successful login page */


body{
	font-family: sans-serif;
  text-align: center;
	color: blue;
	background: url("../gradient.jpg") no-repeat;
	background-size: cover;
	/*background-position: center;*/
	overflow: hidden;
}

p{
    color: white;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: brown;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }

.welcome{
	position: absolute;
	top: 50%; /*to center it vertically*/
	left: 50%; /*to center it horizontally*/
	transform: translate(-50%,-50%);
	width: 600px; /* form takes up 50% of the width of the page, dynamic*/
	border-radius: 20px; /*rounds the edges of the form */
	padding: 40px;
	box-sizing: border-box;
	background: black;
}

/*All buttons */
.welcome .returnhomearea .button, .logoutarea .button, .steamarea .button{
	background:blue;
	border-radius:50px;
	padding:10px 10px;
}

